body
  font-family 'Comic Sans MS', sans-serif

.box
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  margin auto
  size 300px
  text-align center
  font-size 170px
  padding 15px
  background #fafafa
  border 1px solid #e5e5e5
  color #2d7091
  border-radius 4px